//-----------------------------------------------------------------------------
//								$VARIABLES
//-----------------------------------------------------------------------------


// Colors
// -----------------------------------------------------------------------------

$c-white:				    #fff;
$c-white-darker:     		darken($c-white, 5%);
$c-black:				    #1c1c1b;
$c-gray:				    #d0d0d0;
$c-gray-darker:		   		darken($c-gray, 25%);
$c-gray-darkest:     		darken($c-gray, 50%);
$c-shadow:					rgba(0, 0, 0, .35);
$c-shadow-alt:				rgba(0, 0, 0, .75);

$c-primary-b:				#d35656;
$c-primary:					#ff5450;
$c-primary-darker:			darken($c-primary, 15%);
$c-primary-lightest:		lighten($c-primary, 15%);

$c-facebook:         		#3b5998;
$c-twitter:          		#55acee;
$c-youtube:          		#cd201f;
$c-instagram:				#833ab4;


// Typography
// -----------------------------------------------------------------------------

// Font Weights
$fw-light:				200;
$fw-regular:			400;
$fw-bold:				600;

//Header Fonts
$ff-header:       		('Montserrat', sans-serif);
$fw-header:				$fw-bold;

// Base Fonts
$ff-base:         		('Open Sans', sans-serif);
$fw-base:				$fw-regular;
$fz-base:				1rem;
$lh-base:				1.4;


// Sizes
// -----------------------------------------------------------------------------

$h-nav:					6.25em;

$h-feature-icon:		3.5rem;
$w-feature-icon:		3.5rem;

$h-social-icon:			2.5rem;
$w-social-icon:			2.5rem;


// Breakpoints
// -----------------------------------------------------------------------------

$bp-small:			 34em;     //544px
$bp-medium:          48em;     //768px
$bp-large:           66em;     //1056px
$bp-xlarge:          76em;     //1216px
