/// Features
// -----------------------------------------------------------------------------


.services {
	padding: 6em 0;
	text-align: center;

	.section-title {
		position: relative;
		color: $c-black;
		letter-spacing: 11px;
		text-transform: uppercase;

		&::before {
			position: absolute;
			bottom: -20px;
			left: 49.4%;
			width: 79px;
			height: 3px;
			transform: translateX(-50%);
			background: $c-primary;
			content: '';
		}
	}

	.flexbox-wrapper {
		@include wrapper (90%);

		@include media(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			max-width: 64rem;
			margin-top: 2em;
		}
	}
}

.service {
	margin-top: 4em;

	@include media(md) {
		width: 30%;
		padding: 0 1em;
	}

	.icon-container {
		display: inline-block;
		width: $w-feature-icon;
		height: $h-feature-icon;
		border-radius: 50%;
		background-color: $c-primary;
		text-align: center;

		span {
			color: $c-white;
			font-size: 1.5em;
			line-height: $h-feature-icon;
		}
	}

	.title {
		font-size: 1em;
	}

	.text {
		font-size: .875em;
		font-weight: $fw-regular;
	}

	.btn {
		display: inline-block;
		margin: 1em 0 0;
		padding: .75em 1.5em;
		transition: all .3s ease-in-out;
		border: 2px solid $c-primary;
		font-size: .75em;
		font-weight: $fw-bold;
		text-transform: uppercase;


		&:hover {
			background-color: $c-primary;
			color: $c-white;
		}
	}
}
