// Footer
// -----------------------------------------------------------------------------

.main-footer {
	padding: 2em 0;
	text-align: center;

	.flexbox-wrapper {
		@include wrapper (90%);

		@include media(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			max-width: 64rem;
		}
	}

	.footer-logo {
		height: $h-social-icon;
	}

	.text {
		margin: 0;
		color: $c-gray;
		font-size: .75rem;
		line-height: $h-social-icon;
		text-align: center;
	}

	.social-icons {
		padding: 0;

		li {
			display: inline-block;
			margin-right: .25em;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: $w-social-icon;
				height: $h-social-icon;
				transition: all .3s ease-in-out;
				border: .75px solid $c-gray;
				border-radius: 50%;
				color: $c-gray;
				line-height: $h-social-icon;
				text-align: center;
			}

			.icon-facebook:hover {
				border: .75px solid $c-facebook;
				color: $c-facebook;
			}

			.icon-twitter:hover {
				border: .75px solid $c-twitter;
				color: $c-twitter;
			}

			.icon-instagram:hover {
				border: .75px solid $c-instagram;
				color: $c-instagram;
			}

			.icon-youtube:hover {
				border: .75px solid $c-youtube;
				color: $c-youtube;
			}
		}
	}
}
