// Footer
// -----------------------------------------------------------------------------

.main-footer {
	padding: 6em 0 3em;
	background-image: url('../img/parallax.jpeg');
	background-position: center center;
	background-size: cover;
	text-align: center;

	hr {
		width: 80%;
		margin: 2.5em auto;
		border: 0;
		border-top: 1px solid $c-white;
	}

	.wrapper {
		@include wrapper (80%);
		// display: flex;
	}


	.description-container {
		text-align: center;
		// flex: 1 1 0;

		.title {
			color: $c-white;
			font-size: 1em;
		}

		.text {
			margin-bottom: 0;
			color: $c-white;
			font-size: .875rem;
		}

		ul {
			margin-bottom: 4em;
			padding: 0;

			li {
				color: $c-white;
				font-size: .875rem;
			}

			a {
				color: $c-white;
				text-decoration: underline;

				&:hover {
					color: $c-white-darker;
				}
			}
		 }
	}

	.social-icons {
		margin-bottom: 1em;
		padding: 0;

		li {
			display: inline-block;
			margin-right: .25em;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: $w-social-icon;
				height: $h-social-icon;
				transition: all .3s ease-in-out;
				border: .75px solid $c-white;
				border-radius: 50%;
				color: $c-white;
				line-height: $h-social-icon;
				text-align: center;

				&:hover {
					background-color: $c-white;
					color: $c-primary;
				}
			}
		}
	}
}

.secondary-footer {
	padding: 2em 0;


	p {
		margin: 0;
		color: $c-gray;
		font-size: .875rem;
		text-align: center;
	}
}
