.partners {
	padding: 6em 0;
	background-image: url('../img/parallax.jpeg');
	background-position: center center;
	background-size: cover;
	text-align: center;


	.flexbox-wrapper {
		@include wrapper (90%);

		@include media(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			max-width: 64rem;
			margin-top: 2em;
		}
	}

	.img-container {
		margin-top: 4em;
	}

	.section-title {
		position: relative;
		color: $c-white;
		letter-spacing: 11px;
		text-transform: uppercase;

		&::before {
			position: absolute;
			bottom: -20px;
			left: 49.4%;
			width: 79px;
			height: 3px;
			transform: translateX(-50%);
			background: $c-white;
			content: '';
		}
	}
}

.partner {
	@include media(md) {
		width: 50%;
		padding: 0 1em;
	}

	@include media(lg) {
		width: 25%;
	}

	.title {
		color: $c-white;
		font-size: 1.5em;
	}

	.text {
		margin-bottom: 0;
		color: $c-white;
		font-size: .875rem;
	}
}
